[Desktop Entry]
Type=Application
Name=Gifcurry
Comment=Open source video to GIF maker, written in Haskell, that allows overlaid text.
Icon=gifcurry
Categories=AudioVideo;Video;Graphics;
Terminal=false
